Css
body{
    font-family:Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #222;
}

p {
    color: #555;
    font-size: 18px;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #25d366;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}
.container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}
a:hover {
    opacity: 0.9;
    transform: scale(1.03);
}